<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>e-Commerce</title>
    <link rel="stylesheet" href="../css/estilos.css">
    <script src="../static/js/login.js"></script>
</head>
<body>
<h1><u>Aqui encontraras los libros que deseas!!</u></h1>
<input type="button" onclick="login()" value="Login">
<div id="login" style="display: none;">
{% include "login.html" %}
</div>
</body>
</html>